
.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
  margin: 0px;
  padding: 0px;
}

.meter > span {
  display: block;
  height: 20px;
  background: green;
  -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  position: relative;
  overflow: hidden;
  text-align: center;
}
