div#splash {
  background-image: url("fabian-blank-78637.jpg");
  background-color: #333333;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

div#footer {
  height: 40vh;
  background-color: #efefef;
  width: 100vw;
  background-size: cover;
}
