
body {
	font-family: "Montserrat", sans-serif;
}
div#top {
  width: 100vw;
  height: 12vh;
  background: #07d;
}

#title {
	color: white;
	font-family: "Pacifico", sans-serif;
}

#title:hover {
	text-decoration: none;
}

.card-header {
	font-family: "Pacifico", sans-serif;
	text-align: center;
	background-color: #07d;
	color: white;
}

.card-title, .card-text {
	text-align: center;
}

.next-button {
	font-family: "Pacifico", sans-serif;
}

#first-login-section {
	padding-top: 15vh;
}

#second-login-section {
	padding-top: 25vh;
}

#third-login-section {
	padding-top: 25vh;
}

#fourth-login-section {
	padding-top: 22vh;
}

#button-container {
	text-align: center;
}

#card-container1 {
	margin-top: 10vh;
}

#card-container2 {
	margin-top: 5vh;
}

#card-container3 {
	margin-top: 5vh;
}

#card-container4 {
	margin-top: 5vh;
}

.create-button {
	height: 20vh;
	width: 30vh;
	font-size: 1.5rem;
	word-wrap: break-word;
	text-align: center;
	font-family: "Pacifico", sans-serif;
	margin-top: 15vh;
	border-radius: 15px;
}